.hoverCard{
	height: 150px;
	width: 300px;
	padding: 10px;
	border: 1px solid rgb(169, 198, 226);
	
	
}

.hoverCard:hover{
	box-shadow: 0px 10px 14px 2px rgba(38, 37, 37, 0.51);
	background-color: #e9ebf0;
	border: 1px solid rgb(14, 14, 14);
}

.cardbody{
	align-items: center;
	justify-content: center;
	padding: 20px;
	justify-content: center;
	

}
p{
    font-size: 18px !important;
    font-family:"Roboto", "Helvetica", "Arial", sans-serif !important;
}

@media screen and (max-width: 480px) {
	.hoverCard {
	  width: 100%;
	}
	
  }