.forget-password {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../../public/bg1.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.forget-password__card {
  width: 100%;
  min-height: 370px;
  border: 0;
  margin-inline: 16px;
}

.forget-password__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .forget-password__card {
    width: 470px;
    margin-inline: 0;
  }
}
