.view{
    padding:40px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    

}

.Viewcard:hover{
	box-shadow: 3px 10px 14px 2px rgba(0, 0, 0, 0.51);
	background-color: #f4f7fd;
}

.avatar{
    background-color: #0362b5 !important;
    justify-content: center !important;
    display: flex !important;
    height: 70px !important;
    width: 70px !important;
    margin-bottom: 10px !important;
    align-items: center !important;
    color: rgb(249, 246, 246) !important;
    font-weight: bolder;
}

.buttonV{
    margin-left: 90px;
}

.icons{
    display: flex;
    justify-content: space-evenly;

}

.eicon{
    float: right;
  margin-top:-42px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  margin-right: 10px;
}